<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>VueJS</title>
	<link rel="stylesheet" href="style.css">
	<script src="vue.js"></script>
</head>
<body>

	<div id="exercise">
		<!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" & "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
		<div>
		  <button @click="startEffect">Start Effect</button>
		  <div id="effect" :class="effectClasses"></div>
		</div>
		<!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
		<button @click="makeSmoothie=!makeSmoothie" :class="divClasses">Ho</button>
		<div @click="makeSmoothie=!makeSmoothie" :class="[{smoothie: this.makeSmoothie}, color]">I got no class :(</div>
		<!-- 3) Let the user enter a class (create some example classes) and attach it -->
		<input type="text" v-model="color">
		<!-- 4) Let the user enter a class and enter a value of true/ false for another class (create some example classes) and attach the classes -->
		<div>
			<input type="text" v-model="userClass">
			<input id="none" type="text" v-model="magenta">
			<div class="newDiv" v-bind:class="[{newDiv: magenta}, userClass]">style me</div>
		</div>
		  <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
		  <div>
			<input type="text" v-model="myStyle.backgroundColor">
			<div v-bind:style="myStyle"></div>
		  </div>
		   <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
		  <div>
				<button v-on:click="startProgress">Start Progress</button>
				<div v-bind:class="['progress-bar']" v-bind:style="progressBar"></div>
		  </div>
	  </div>
	<script>
		new Vue({
			el: '#exercise',
			data: {
				// effect: ''
				color: 'brown',
				makeSmoothie: false,
				userClass:'',
        		magenta:true,
				myStyle: {
					width: '100px',
					height: '150px',
					backgroundColor: 'purple'
				},
				progressBar: {
					width: '0px',
					backgroundColor: 'aqua'
				},
				effectClasses:{
					highlight: false,
					shrink: true
				}
			},
			computed: {
				divClasses: function() {
					return {
						smoothie: this.makeSmoothie,
						color: !this.smoothie
					}
				}
			},
			methods: {
				// startEffect: function() {
				// 	this.effect = this.effect === "highlight" ? "shrink" : "highlight"}
				// }
				startEffect: function() {
					var self = this;
					setInterval(function() {
						self.effectClasses.highlight = !self.effectClasses.highlight;
						self.effectClasses.shrink = !self.effectClasses.shrink;
						console.log('startEffect firing')
					}, 3000);
				},
				startProgress: function() {
					var self = this;
					var width = 0;
					
					setInterval(function() {
						width = width + 10;
						self.progressBar.width = width + 'px';
						}, 500);
					}
				}
		})
	</script>
</body>
</html>
