.demo {
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    display: inline-block;
    margin: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: #bada55;
}

.beige {
    background-color: beige;
}